{% set classes = [
  'event-teaser',
  'row',
  'g-0'
] %}
<a href="{{ url }}">
  <article{{ attributes.addClass(classes) }}>
    <div class="event-date col-12 col-md-4 col-lg-4">
      <span class="date-day">
        {{ node.field_event_date.value|date("d") }}
      </span>
      <span class="date-month">
        {{ node.field_event_date.end_value|date("M") }}
      </span>
      <span class="date-year">
        {{ node.field_event_date.end_value|date("Y") }}
      </span>
    </div>

    <div class="event-info col-12 col-md-8 col-lg-8">
      {% include 'aventus:title' with {
        'element': 'h2',
        'title': node.title.value,
      } %}

      <div class="event-time row">
        <p>
          <i>{{ 'from:'|t }} </i><strong>{{ node.field_event_date.value|date("g:i") }} {{ 'hour'|t }}</strong>
          <i>{{ 'to:'|t }} </i><strong>{{ node.field_event_date.end_value|date("g:i") }} {{ 'hour'|t }}</strong>
        </p>
      </div>

      <div class="event-content">
        <p>{{ node.field_introduction.value }}</p>
      </div>
    </div>
  </article>
</a>
