{% set classes = [
  'event-detail'
] %}
<article{{ attributes.addClass(classes) }}>
  <div class="row event-teaser">
    <div class="event-date col-12 col-md-4 col-lg-4">
        <span class="date-day">
          {{ node.field_event_date.value|date("d") }}
        </span>
      <span class="date-month">
          {{ node.field_event_date.end_value|date("M") }}
        </span>
      <span class="date-year">
          {{ node.field_event_date.end_value|date("Y") }}
        </span>
    </div>

    <div class="event-info col-12 col-md-8 col-lg-8">
      {% include 'aventus:title' with {
        'element': 'h1',
        'title': node.title.value,
      } %}

      <div class="event-time row">
        <p>
          <i>{{ 'from:'|t }} </i><strong>{{ node.field_event_date.value|date("g:i") }} {{ 'hour'|t }}</strong>
          <i>{{ 'to:'|t }} </i><strong>{{ node.field_event_date.end_value|date("g:i") }} {{ 'hour'|t }}</strong>
        </p>
      </div>
      <div class="event-location row">
        <p>
          <i>{{ 'Locations:'|t }} </i>
          <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_locations.entity.tid.value}) }}">
            {{ node.field_locations.entity.label }}
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="event-content">
    {{ content.field_paragraphs }}
  </div>
</article>

