<nav class="container nav">
  <div class="row">
    <div class="col-6 col-md-4 col-xl-5">
      <div class="header--logo">
        {{  page.branding }}
      </div>
    </div>
    <div class="col-6  col-md-8 col-xl-7">
      <div class="header--menu row">
        {{ page.primary_menu }}
      </div>
      <div class="row">
        <div class="hamburger col-12 col-md-2 ">
          <div class="hamburger--icon hamburger-toggle mobile-service-toggle" aria-expanded="false" aria-label="{{ "Open mobile navigation menu"|t }}">
              <img class="hamburger--icon-open" src="https://www.theprestigecollectionhotels.com/assets/themes/www.theprestigecollectionhotels.com/img/icons/icon-open-menu.svg" alt="menu" title="menu" height="25">
              <img class="hamburger--icon-close" src="https://www.theprestigecollectionhotels.com/assets/themes/www.theprestigecollectionhotels.com/img/icons/icon-close-menu.svg" alt="menu" title="menu" height="25">
{#          <a href="#hamburgermenu" class="hamburger-toggle mobile-service-toggle" aria-expanded="false" aria-label="{{ "Open mobile navigation menu"|t }}"></a>#}
            </div>
          </div>
      </div>
    </div>
  </div>
</nav>

<nav class="mobile-navigation col-12">
  {{ page.mobile_navigation  }}
</nav>
